<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <p>Crear el formulario para cargar un nuevo posteo.</p>
        <form action="/users/miPerfil" method="get"></form>
        <div>
            <label for="user">Id del usuario</label>
            <input type="number" name="Email" id="" placeholder="ID del usuario">
        </div>
        <div>
            <label for="Imagen">Imagen</label>
            <input type="text" name="Email" id="" placeholder="Imagen">
        </div>
        <div>
            <label for="post">textos </label>
            <input type="text" name="post" id="" placeholder="escribi un texto ">
        </div>
       
        <button type="submit">Loggeate</button>
        </section>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>