<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
             <h1>Registrate</h1>
<form action="/users/login" method="get">
               <div>
                <label class="registracion" for="Email">Email</label>
            <input class="cajaregistro1" type="Email" name="Email" id="" placeholder="Inserta tu email">
               </div>
               <div>
                <label class="registracion" for="Password">Contraseña</label>
               <input class="cajaregistro"  type="Password" name="Password" id="">
              </div>
                <div>
               <label class="registracion" for="Pfp">Foto de perfil</label>
               <input class="cajaregistro2"   type="text" name="Pfp" id="" placeholder="Inserta tu foto">
              </div>
              <div>
               <label class="registracion" for="fecha">Fecha de nacimiento</label>
               <input class="cajaregistro3" type="date" name="fecha" id="" placeholder="Inserta tu fecha de nacimiento">
                </div>
                 <div>
                <label class="registracion" for="dni">DNI</label>
               <input class="cajaregistro4" type="number" name="fecha" id="" placeholder="Inserta tu DNI">
              </div>
        
                 <button class="buttonregistro" type="submit">Registrate</button>
 </form>  </section>
          </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>